a {
  color: #888;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.main-footer.dark {
  background: #000;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.main-footer {
  padding: 100px 0 0;
  @media (max-width: 768px) {
    padding: 30px 0 0;
  }
  .logo-footer {
    margin-bottom: 20px;
    .logo {
      display: block;
      height: 80px;
      text-align: center;
      img {
        height: 100%;
      }
    }
  }
  .abot {
    p {
      font-size: 13px;
      text-align: justify;
    }
    .social-icon {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      a {
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        font-size: 13px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        margin-right: 5px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        &:hover {
          border-color: #f58220;
          color: #f58220;
        }
      }
    }
  }
  .fothead {
    h6 {
      color: #f58220;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
  }
  .usful-links {
    ul {
      margin: 0;
      list-style-type: none;
      padding: 0;
      li {
        font-size: 13px;
        margin-bottom: 10px;
        text-decoration: none;

        i {
          font-size: 10px;
          color: #f58220;
          margin-right: 5px;
        }
        a {
          text-decoration: none;
          color: #888;
          transition: all 0.5s;
          &:hover {
            color: #f58220;
          }
        }
      }
    }
  }
  .write {
    a {
      font-size: 16px;
    }
  }
  .fotcont {
    .fothead {
      h6 {
        position: relative;
        padding-bottom: 10px;
        &:after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          background: rgba(255, 255, 255, 0.1);
          height: 1px;
        }
      }
    }
    p {
      font-size: 13px;
      color: #888;
      a {
        transition: all 0.5s;
        &:hover {
          color: #f58220;
        }
        i {
          margin-right: 5px;
        }
      }
    }
    span {
      text-transform: uppercase;
      font-size: 13px;
      color: #888;
      font-weight: bold;
    }
  }
  .whats_app_icon {
    position: fixed;
    bottom: 10px;
    left: 20px;
    width: 39px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    .fa-whatsapp-square {
      font-size: 45px;
    color: #00e676;
    margin-top: -2px;
    }
  }
  .send_message_block {
    position: fixed;
    bottom: 0px;
    //right: 20px;
    z-index: 999;
    right: -200px;
    transition: right 0.5s;
    &.right_side {
      transition: right 0s 0s;
      right: 20px;
    }
  }
  .send_message {
    &.full_label {
      width: 100%;
      justify-content: space-between;
      transition: all 0.8s;
    }
    transition: all 0.8s;
    width: 126px;
    height: 50px;
    padding: 0px 15px;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    background-color: #f58634;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sms_box {
    &.full_height_form{
      height: 100%;
      padding: 10px 10px 0 10px;
      transition: all 0.8s;
      max-height: 350px;
    }
    height: 0;
width: 350px;
background-color: #f58634;
padding: 0;
transition: height 0.8s , max-height 0.8s;
max-height: 0;
padding: 0 10px;
  overflow-x: hidden;
  overflow-y: auto;
&::-webkit-scrollbar {
  width: 6px;
  padding: 6px;
}
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &::-webkit-scrollbar-track {
    margin-top: 10px;
  }
form {
  
  background-color: #fff;
box-shadow: 0 2px 3px #00000014;
margin: 2px 2px 5px 2px;
padding: 8px;
border-radius: 8px;
 
}
label {
  color : #212529;
}
  }
}

.footer_modal {
  .form-floating > label {
    left: 10px;
  }
}

@media (max-width: 768px) {
  .item-box {
    margin-top: 20px;
  }
}

@media (max-width: 414px) {
  .main-footer {
    .send_message_block {
      &.right_side {
        right: 12px;
      }
    }
  }
}

@media (max-width: 325px) {
  .main-footer {
    .send_message_block {
      right: -160px;
      .sms_box {
        width: 300px;
      }
    }
  }
}

.copany-rights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  p {
    font-size: 13px;
    color: #888;
  }
}